<h1>What would you like to do?</h1>

<nav>
  <ul>
    <li><a href='/'>See the site</a></li>
    <li><a href='/mega-bar/pages/new'>Create a new Page</a></li>
    <li><a href='/mega-bar/models/new'>Create a new Model</a></li>
  </ul>
</nav>