/* MegaBar Styles */

.header-row {
  white-space: nowrap;
}

#layout-page-layouts-layout .layout-section.main h1 {
  font-size: 14px;
}

#layout-page-layouts-layout .layout-section.main .model-display-instructions {
  display: none;
}

a {
  text-decoration: none;
}

th a {
  font-weight: normal;
}


.admin-links,
.admin-links a {
  color: #aaa;
  font-size: .5em;
  clear: both;
  text-decoration: none;
}

.layout-help-link div a {
  font-size: 16px;
}

table>tbody>tr>td {
  padding: 0 3px 0 3px;
}

table>tbody>tr:last-child>td {
  background-color: #ffffff;
}

table>tbody>tr:nth-child(even)>td:nth-child(even) {
  background-color: #E5E4E2;
}

table>tbody>tr:nth-child(even)>td:nth-child(odd) {
  background-color: #EFEEEC;
}

table>tbody>tr:nth-child(odd)>td:nth-child(even) {
  background-color: #e8e8e8;
}

table>tbody>tr:nth-child(odd)>td:nth-child(odd) {
  background-color: #f0f0f0;
}

table>tbody>tr.filter-row:last-child>td {
  background-color: white;
}

table.profile-table>tbody>tr>th {
  background-color: #f0f0f0;
}

table.profile-table>tbody>tr>td {
  background-color: #f0f0f0;
}

div.admin-block-divider:nth-child(odd) {
  background-color: #F0F0F0;
}

.field-instructions {
  font-weight: normal;
  font-size: .8em;
  font-style: italic;
}

.gallery-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.gallery-list :first-child {
  margin-left: 0 !important;
}

.gallery-list li {
  border: 1px solid black;
  float: left;
  padding: 10px;
  margin: 10px;
}

.layout-section-admin .layout-section {
  border: 3px solid blue;
}

.mega-bar__template-gallery-page .layout-template {
  margin-top: 30px;
}


.mega-bar__template-gallery-page .no-columns-template .layout-section {
  border: 3px solid blue;
}

.mega-bar__template-gallery-page .left-column-template .layout-section {
  border: 3px solid red;
}

.mega-bar__template-gallery-page .right-column-template .layout-section {
  border: 3px solid green;
}

.mega-bar__template-gallery-page .right-and-left-columns-template .layout-section {
  border: 3px solid black;
}

h3 {
  font: 8px sans-serif;
}

.admin-layout-template .layout-section {
  border: 1px solid green;
}