
.admin_links, .admin_links a {color: #aaa; font-size: .7em; clear:both;}
.layout_help_link  div a{font-size: 16px;}
.mega_bar__template_gallery .container .row .layout_section, .block.layout_section_admin  .container .row .layout_section {border: 1px solid black;}

 tr:nth-child(odd) > td{
   background-color: #F0F0F0;
}
div.admin_block_divider:nth-child(odd) {
   background-color: #F0F0F0;
}

.field_instructions { font-weight: normal; font-size: .8em; font-style: italic}
