ul.mega-layout-section-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

ul.mega-layout-section-tabs li {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

ul.mega-layout-section-tabs li:hover {
  background-color: #ddd;
}

ul.mega-layout-section-tabs li.active {
  background-color: #ccc;
  border-bottom: 3px solid red;
}

#content-tab>div.tab-content {
  display: none;
}

#content-tab>div.tab-content.active {
  display: block;
}

#content-tab>div {}