
ul.megaLayoutSectionTabs {
  list-style-type: none;
  padding: 0;
}
ul.megaLayoutSectionTabs li {
  display: inline-block;
  background-color: #252525;
  border-bottom: solid 2px grey;
  padding: 10px 20px;
  margin-bottom: 4px;
  color: #fff;
  cursor: pointer;
}
ul.megaLayoutSectionTabs li:hover {
  background-color: grey;
}
ul.megaLayoutSectionTabs li.active {
  background-color: #00aeef;
}


#content-tab div {
  display: none;
}
#content-tab div.active {
  display: block;
}

#content-tab>div{

}
