
Go to: <select onChange="window.location.href=this.value">
  <option selected disabled>Choose a Page</option>
  <option value="/">Home</option>
  <optgroup label='Multi Siting'> 
    <option value="/mega-bar/sites">Sites</option>
    <option value="/mega-bar/themes">Themes</option>
    <option value="/mega-bar/portfolios">Portfolios</option>
    <option value="/mega-bar/site-joins">Site Joins</option>
    <option value="/mega-bar/theme-joins">Theme Joins</option>
  </optgroup>
  <optgroup label='Templating'> 
    <option value="/mega-bar/template-gallery">Template Gallery</option>
    <option value="/mega-bar/templates">Templates</option>
    <option value="/mega-bar/template-sections">Template Sections</option>

  </optgroup>
  <optgroup label='Page '> 
    <option value="/mega-bar/pages/all">Pages</option>
    <option value="/mega-bar/layouts">Layouts</option>
    <option value="/mega-bar/blocks">Blocks</option>
    <option value="/mega-bar/model_displays">Model Displays</option>
    <option value="/mega-bar/field_displays">Field Displays</option>
    <option value="/mega-bar/model-display-collections">Model Display Collection</option>
    <option value="/mega-bar/model-display-formats">Model Display Formats</option>
    <option value="/mega-bar/layout-sections">Layout Sections</option>
    <option value="/mega-bar/layables">Layables</option>
  </optgroup>
  <optgroup label='Models'> 

    <option value="/mega-bar/models/all">Models</option>
    <option value="/mega-bar/fields">Fields</option>
    <option value="/mega-bar/options">Options</option>
  </optgroup>
  <optgroup label='Data Displays'> 
    <option value="/mega-bar/checkboxes">Checkboxes</option>
    <option value="/mega-bar/radios">Radios</option>
    <option value="/mega-bar/selects">Selects</option>
    <option value="/mega-bar/textareas">Text Areas</option>
    <option value="/mega-bar/textboxes">Text Boxes</option>
    <option value="/mega-bar/textreads">Text Reads</option>
  </optgroup>
</select>